.gradle
build
caches
daemon
.idea
notifications
out
*.log


# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

C:\Users\sergey.tselin\Desktop\Сергей\Личное\Software\java_pft\sandbox\gradle.properties
C:\Users\sergey.tselin\Desktop\Сергей\Личное\Software\java_pft\sandbox\out
C:\Users\sergey.tselin\Desktop\Сергей\Личное\Software\java_pft\sandbox\build
C:\Users\sergey.tselin\Desktop\Сергей\Личное\Software\java_pft\sandbox\.gradle